body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:lightgrey; */
    background: linear-gradient(to left top, #20b69a, #9de0eb);
    color: rgb(49, 107, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

canvas {
    box-shadow: rgb(52, 165, 52) 20px 10px 50px;
    display: flex;
    border: 1px solid;
    border-color: green;
    border-radius: 5px;
}
